@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px}

window#waybar {
  background: @surface0;
  color: @text;
  margin: 0;
}

#workspaces {
  border-radius: 0.5rem;
  padding: 0px 5px 0px 5px;
  background-color: @surface1;
  margin-left: 10px;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.5rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface1;
}

#clock {
  color: @blue;
  border-radius: 0px 0.5rem 0.5rem 0px;
  padding: 0px 5px 0px 5px;
  margin-right: 10px;
}

#battery {
  color: @green;
  margin: 0px 3px 0px 0px;
  padding: 0px 12px 0px 8px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  margin: 0px 3px 0px 3px;
  padding: 0px 10px 0px 10px;
}


#pulseaudio {
  color: @maroon;
  border-radius: 0.5rem 0px 0px 0.5rem;
  padding: 0px 5px 0px 8px;
}

#custom-music {
  color: @mauve;
  border-radius: 0.5rem;
  padding: 0px 5px 0px 5px;
}

#custom-lock {
  border-radius: 0.5rem 0px 0px 0.5rem;
  padding: 0px 8px 0px 8px;
  color: @lavender;
  margin-right: 3px;
}

#custom-power {
  border-radius: 0px 0.5rem 0.5rem 0px;
  padding: 0px 8px 0px 8px;
  color: @red;
  margin-right: 10px;
}

#tray {
  margin-right: 0.5rem;
  padding: 0px 5px 0px 5px;
  border-radius: 0.5rem;
}
